<div class="content-container">
  <div class="navigation-wrapper">
    <div class="navigation">
      <div class="navigation-backward" (click)="rollUp()">
        <span class="material-icons">
          keyboard_arrow_up
        </span>
        <p>Powrót</p>
      </div>
    </div>
    <div class="board-wrapper">
      <div class="slogan">
        <div class="header-container">
          <div class="header-wrapper">
            <p>Jak?</p>
          </div>
        </div>
        <div class="slogan-content-container">
          <p>Załóż bezpłatne konto Kamienicznik i uzyskaj dostęp do
            wszystkich funkcjonalności portalu.
            Weź sprawy w swoje ręce i nie daj się zaskoczyć.</p>
        </div>
      </div>
      <div class="image-wrapper">
      </div>
    </div>
    <div class="navigation-forward-wrapper">
        <p>ZAŁÓŻ<br> KONTO</p>
        <span class="material-icons">
          keyboard_arrow_right
        </span>
      </div>
  </div>
</div>
<div class="circle-shadow-blend">
</div>

